<!---p>{{x}},{{y}}</p-->
<div draggable="false" class="head">
  <div class="name" {{action 'showit'}} ></div>
  <div class="save" {{action 'write'}}> SPARA </div>
  <div class="close" {{action 'hide'}}> &times; </div>
</div>
<textarea class="textarea1" draggable="false" contextmenu="hideSave" autofocus spellcheck="false" cols="60" {{action 'edit'}}>
</textarea>
<textarea class="textarea2" draggable="false" contextmenu="hideSave" autofocus spellcheck="false" cols="60" rows="1" {{action 'edit'}}>
</textarea>

<!--
  <menu type="context" id="hideSave">
    <menuitem label="Spara"></menuitem>
    <menuitem label="Återgå"></menuitem>
  </menu>
-->