<!-- ///// HEADER AND ALSO THE SETTINGS BUTTON ///// -->
<p id="title" draggable="false" ondragstart="return false">
  <span class="proid" title="Logga in för att se inställningarna..." {{action "settings"}}> Mish<small> powered by NodeJS &bull; Express &bull; EmberJS</small></span>
  <form action="" style="display:inline">
    <button type="submit" class="cred login" title="" {{action "logIn"}}> Logga in </button>
    <input type="text" class="cred user" size="10" title="Användare" placeholder="User name">
    <input type="password" class="cred password" size="10" title="Lösenord" placeholder="Password">
    <span class="cred name"></span>
  </form><br>
  <span class="usrlg"></span><!-- User information log -->
</p>
<!-- ///// JQUERY DIALOG ///// -->
<div id="dialog" style="display:none;z-index:30">DIALOG</div>
<!-- ///// PARAMETER STORE... ///// -->
<div id="allowValue" title="default permissions" style="display:none"></div>
<div id="backImg" style="display:none"></div>
<div id="hideColor" style="display:none">rgb(85, 85, 85)</div>
<div id="hideFlag" style="display:none">1</div>
<div id="hidePicNames" title="initial setting" style="display:none">1</div>
<div id="imdbDir" title="path to album" style="display:none"></div>
<div id="imdbDirs" title="paths to albums" style="display:none"></div>
<div id="imdbLink" title="link to find albums" style="display:none"></div>
<div id="imdbRoot" title="find albums here" style="display:none"></div>
<div id="imdbRoots" title="where to find albums" style="display:none"></div>
<div id="navAuto" title="on/off autoshow" style="display:none">false</div>
<div id="navKeys" title="turn off at other use" style="display:none">true</div>
<div id="picName" style="display:none"></div>
<div id="picNames" style="display:none"></div>
<div id="picOrig" style="display:none"></div>
<div id="showFactor" title="initial seconds/picture" style="display:none">1</div>
<div id="sortOrder" style="display:none"></div>
<div id="temporary" style="display:none"></div>
<div id="temporary_1" style="display:none"></div>
<div id="topMargin" title="pixels above slideshowpic" style="display:none">15</div>
<div id="uploadNames" title="last uploaded" style="display:none"></div>
<div id="userDir" title="user's home or choice" style="display:none"></div>
<!-- ///// ...AND SETTINGS ///// -->
<div class="settings" draggable="false" ondragstart="return false">
  <!-- ///// SELECT IMAGE DB ROOT DIRECTORIY ///// -->
  <div>
    <p style="margin:0 2em 0.5em 0"> Välj albumplats </p><br>
    <select title="Albumkatalog" class="root" onchange={{action "selectRoot" value="target.value"}}>
      {{#each imdbRoots as |rootChoice|}}
        <option onclick="this.parentElement.blur()" value={{rootChoice}} selected={{eq imdbRoot rootChoice}}>{{rootChoice}}</option>
      {{/each}}
    </select>
  </div><br>
  <button {{action 'setAllow' true}}>Bekräfta</button>
  <div id="setAllow">
    Insert checkboxes here
  </div>
</div>
<!-- ///// SELECT IMAGE DB DIRECTORIY, jstree ///// -->
<div class="jstreeAlbumSelect" onclick="return false" draggable="false" ondragstart="return false" style="display:none">
  {{ember-jstree
    data=albumData
    eventDidSelectNode="selectAlbum"
  }}
  <p onclick="return false" draggable="false" ondragstart="return false" style="margin-left:0.5em">
    <em>Album</em> &nbsp;<a {{action "albumEdit"}} title=" Ta bort | gör nytt album ">{{{albumName}}}</a>
  </p>
</div>

<!-- ///// SPECIAL PLACEHOLDERS/LINKS (hidden) ///// -->
<input style="display:none;" id="fileDialog" type="file" nwdirectory directory>

<input style="display:none" id="requestDirs" onclick={{perform requestDirs}}>
<!-- input style="display:none" id="saveUpload" onclick={#{perform saveUpload}}> -->

<div class="shortMessage" style="display:none">RT-log-message</div>
<a href="null" id="download" style="display:none" download>DOWNLOAD-AREA</a>

<!-- ///// DISPLAY THE (SLIDE) SHOW IMAGE ///// -->
<div class="img_show" style="display:none" draggable="false">
  <div id="wrap_pad" draggable="false">

    <div class="nav_links" draggable="false" ondragstart="return false">
      <!-- NEXT-ARROW-BUTTONS without href attributes -->
      <a class="nav_" draggable="false" ondragstart="return false" {{action 'showNext' true }}>&ndash;&gt;</a><br>
      <a class="nav_" draggable="false" ondragstart="return false" {{action 'showNext' false}}>&lt;&ndash;</a><br>
      <!-- AUTO-SLIDE-SHOW SELECT -->
      <a class="nav_" class="toggleAuto" draggable="false" ondragstart="return false" {{action 'toggleAuto'}} style="font-size:1.2em;font-family:monospace" title="Automatiskt0 bildbyte">AUTO</a><br>
      <!-- AUTO-SLIDE-SHOW SPEED SELECT -->
      <span class="nav_" id="showSpeed" draggable="false" ondragstart="return false">
        <input class="showTime" type="number" min="1" max="99" value="1" title="Välj tid > 0 s">s&nbsp;&nbsp;<br>
        <!-- CHOOSE AUTO-SHOW s/texline OR s/slide -->
        <a class="speedBase nav_" {{action 'speedBase'}} title="Välj per bild eller bildtextrad">&nbsp;per<br>&nbsp;text-&nbsp;<br>&nbsp;rad</a>
      </span><br>
      <!-- HELP -->
      <a class="nav_ qnav_" draggable="false" {{action 'toggleNav'}}>?</a> &nbsp;
    </div>

    <div id="wrap_show" draggable="false"><!-- IMAGE AND TEXT CONTAINER -->
      <tab style="background:transparent" draggable="false">
        <tr style="background:transparent" draggable="false">
          <td style="background:transparent" draggable="false">
            <div id="link_show" draggable="false">
              <img src="" draggable="false" ondragstart="return false"> <!-- Need both, perhaps -->

              <a style="top: 0%; left: 0%; width: 50%; height: 100%;" draggable="false" ondragstart="return false" {{action 'showNext' false}}><span>&lt;&ndash;<br>&nbsp;<br>&nbsp;<br>&nbsp;</span> &nbsp; föregående<br>&nbsp;<br>&nbsp;<br>&nbsp;</a>

              <a style="top: 0%; left: 50%; width: 50%; height: 100%;" draggable="false" ondragstart="return false" {{action 'showNext' true}}>nästa &nbsp; <br>&nbsp;<br>&nbsp;<br>&nbsp;<span>&ndash;&gt;<br>&nbsp;<br>&nbsp;<br>&nbsp;</span></a>

              <!--a style="top: 60%; left: 0%; width: 100%; height: 39%;" draggable="false" ondragstart="return false" id="hideShow" {{action 'hideShow'}}>återgå &nbsp; <span>Esc</span></a-->

              <a id="full_size" style="top:40%; left:40%; width:20%; height:20%; border-radius:12px; background-color:rgba(255,255,255,0.555);" draggable="false" ondragstart="return false" {{action 'fullSize'}}>full storlek</a>

              <div id="markShow" class="markFalseShow" alt="MARKSHOW" title="Markera" {{action 'toggleMark'}} draggable="false" ondragstart="return false"><img src="/images/markericon.svg" draggable="false" ondragstart="return false" class="mark"></div>

            </div>
            <div class="markDummy"></div><!-- Substitutes markShow, moved up ^ -->
            <div class="img_name" draggable="false" ondragstart="return false"></div>
            <div class="img_txt1" draggable="false" ondragstart="return false" {{action 'ediText'}}></div>
            <div class="img_txt2" draggable="false" ondragstart="return false" {{action 'ediText'}}></div>
          </td>
        </tr>
      </tab>
    </div>

  </div>
</div>

<div id="smallButtons" class=""><!-- ///// SMALL A-BUTTONS without href attributes /////  -->
  <a id="toggleTree" title="Albumval" draggable="false" ondragstart="return false" {{action 'toggleAlbumTree'}}>@</a>
  <a id="questionMark" title="Visa användarhandledning" draggable="false" ondragstart="return false" {{action 'toggleHelp'}}>?</a>
  <a id="saveOrder" title="Spara ordning/gömning" draggable="false" ondragstart="return false" {{action 'saveOrder'}}>S</a>
  <a id="reLd" title="Återställ ordning/gömning" draggable="false" ondragstart="return false" {{action 'refresh'}} src="/images/reload.png"></a>
  <a id="toggleHide" title="Växla visa/göm gömda" draggable="false" ondragstart="return false" {{action 'toggleHideFlagged'}}></a>
  <a id="toggleName" title="Växla visa/göm namn" draggable="false" ondragstart="return false" {{action 'toggleNameView'}}>N</a>
  <a id ="showDropbox" title="Ladda upp..." draggable="false" ondragstart="return false" {{action 'showDropbox'}}>U</a>
  <!--a id="goTop" title="Upp till albumbyte" draggable="false" ondragstart="return false" onclick="window.scrollTo(0,0)" src="/images/arrUp.png"></a-->
</div>

<img src="/images/snurra.gif" class="spinner" draggable="false" ondragstart="return false" {{action 'hideSpinner'}} style="display:none">

<div id="helpText" class="helpText"><!-- ///// HELP TEXT ///// -->
  <p style="text-align:left;margin-left:1.5em;line-height:1.7em" draggable="false" ondragstart="return false">
    <span style="font-size:0.92em"><b>Bilderna har högerklickmenyer som kan behövas ibland</b><br>
    <b>Klicka med skifttangent på en miniatyr så markeras/avmarkeras den</b><br>
    <b>Om du klickar på en bildtext kan du sedan redigera den</b></span><br>
    Knapparna till höger: Utforska på egen hand! Och använd <b>Esc-tangenten</b> (se nedan)!<br>
    <b>Knapparna till vänster</b> (vilka som syns beror på hur du är inloggad):<br>
    <a id="albSel">@</a> Albumväljare (visar filkataloger/album)<br>
    <a id="questionMark0">?</a> Visa den här informationen<br>
    <a id="saveOrder0">S</a> Spara bildändringar¹ som annars är tillfälliga och kan återställas²<br>
    <a id="reLd0"><img draggable="false" ondragstart="return false" src="/images/reload.png"></a> Återställ osparade bildändringar¹³ ('ångerknapp' &ndash; avser ej textändringar)<br>
    <a id="toggleHide0"></a> Visa eller göm 'gömda bilder' (gömda med bildens högerklick-meny)<br>
    <a id="toggleName0">N</a> Namn på bilden &ndash; visa eller göm (filnamn utan .filtyp)<br>
    <a id="upLoad0">U</a> Uppladdning av (fler) bilder &ndash; visa eller göm uppladdningspanel<br>
    <!--a id="goTop0"></a> Gå upp för att välja album med mera --></p>
  <p style="text-align:left;margin:-0.4em 0 0 3em;line-height:1.5em" draggable="false" ondragstart="return false">
    ¹ Ändringar: Dra-och-släpp-flyttning av miniatyrbilder, göm eller visa med högerklick<br>
    ² Undantag: 'Placera först/sist' åtföljs automatiskt av 'Spara ändringar'<br>
    ³ Återställning kan även behövas vid ofullständig bildvisning efter uppladdning</p>
  <p style="text-align:left;margin-left:1.5em;line-height:1.5em" draggable="false" ondragstart="return false">
    <b>Tangentbordet</b><br>
    <b>F1</b> visar den här informationen<br>
    <b>Ctrl</b>+<b class="large">+</b> och <b>Ctrl</b>+<b class="large">&minus;</b> ökar respektive minskar bildstorleken och <b>Ctrl</b>+<b class="large">0</b> återställer<br>
    <b>F11</b> används för att börja eller avbryta helskärmsvisning<br>
    <b>Högerpil-</b> eller <b>vänsterpiltangenten</b> växlar bild framåt eller bakåt<br>
    <b>A</b>-tangenten startar automatisk bildväxling &ndash; Esc-tangenten avbryter<br>
    <b>Esc</b> är avslutnings- och avbrottstangent för informationsfönster och bildvisning<br>
    <b>F5</b> eller <b>Ctrl</b>+<b>R</b> används för att börja om från början, till exempel om bildväxlingen kommit i oordning</p>
</div>

<!-- ///// HIDDEN MENU BUTTONS (have a history)  ///// -->
<p style="display:none">
 &nbsp; &nbsp; &nbsp;
<button id="refresh"
  style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std" {{action 'refresh' true}}>Uppdatera</button>
<!--button id="saveOrder"
  style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std" {#{action 'saveOrder'}}>Spara ordningen</button-->
<button id="showOrder"
  style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std" {{action 'showOrder'}}>Visa ordningen</button>
<button id="imageBtn"
  style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std show-inline" {{action 'imageList'}}>Visa bilderna</button>
<!-- Should be called from the context menu exclusively: --><button id="downLoad"
  type="submit" class="show-inline btn-std" {{action 'downLoad'}}>Download...</button>
<!-- Should be called from the context menu exclusively: --><button id="deleteFile"
  type="submit" class="show-inline btn-std" {{action 'deleteFile'}}>DELETE</button>
<!-- Should be called from the linkFunc dialog exclusively: --><button id="checkNames"
 {{action 'checkNames'}}></button><button id="linkNames" {{action 'linkNames'}}></button>
</p>

<div id="highUp"></div>

<!-- ///// START OF DROPBOX AND MINI-LIST CONTAINER ///// -->
<div id="imageList" class="hide-all"><!-- THUMBNAIL CONTAINER -->
<!-- ///// DROPBOX  CONTAINER ///// -->
<div id="divDropbox" class="hide-all" >
  {{#drop-zone url='/upload' autoProcessQueue=false  acceptedFiles='image/jpeg,image/tiff,image/png,image/gif'}}
  {{/drop-zone}}
</div>

<!-- ///// SHOW MINI IMAGES (thumbnails) ///// -->
<!-- Uses allNames from menu-buttons.js -->
<p class='showCount' draggable="false" ondragstart="return false">
  <span class='imDir'>{{{albumName}}}</span>
  <span class='imDir'> &mdash; </span>
  <span class='numShown'>0</span>&nbsp;visas,
  <span class='numHidden'>0</span>&nbsp;gömda
  (<span class='numMarked'>0</span>&nbsp;markerade)
</p>
<div class="miniImgs">
  {{#sortable-objects sortableObjectList=allNames sortEndAction='sortEndAction' enableSort=true useSwap=false}}
    {{#each allNames as |file|}}
      {{#draggable-object content=file isSortable=true overrideClass='show-inline'}}
      <div id="i{{file.name}}" class="img_mini {{file.symlink}}" draggable="false" ondragstart="return false">
        <a draggable="false" ondragstart="return false">
        <!-- a {#{action "showShow" file.show file.name file.orig allowedKeys="shift"}} draggable="false" ondragstart="return false"> <!- No href -->
        <img src="{{file.mini}}" class="left-click" title="{{file.orig}}" draggable="false" ondragstart="return false">
        </a>
        <div id="" class="markFalse" alt="MARKER" title="Markera" {{action 'toggleMark' file.name}}  draggable="false" ondragstart="return false"><img src="/images/markericon.svg" draggable="false" ondragstart="return false" class="mark"></div>
        <div class="img_name">
          {{file.name}}
        </div>
        <div class="img_txt1" title="{{file.txt1}}" {{action 'ediText' file.name}}>
          {{file.txt1}}
        </div>
        <div class="img_txt2" title="{{file.txt2}}" {{action 'ediText' file.name}}>
          {{file.txt2}}
        </div>
      </div>
      {{/draggable-object}}
    {{else}}
      <div id="empty">
        <!-- nothing -->
      </div>
    {{/each}}
  {{/sortable-objects}}
</div>

<div id="lowDown"></div>

<p class='showCount' draggable="false" ondragstart="return false">
  <span class="imDir">{{{albumName}}}</span>
  <span class='imDir'> &mdash; </span>
  <span class='numShown'>0</span>&nbsp;visas,
  <span class='numHidden'>0</span>&nbsp;gömda
  (<span class='numMarked'>0</span>&nbsp;markerade)
</p>

</div>
<!-- ///// END OF DROPBOX AND MINI-LIST CONTAINER ///// -->

<!-- ///// HIDDEN END MENU BUTTONS (have a history) ///// -->
<p style="display:none">
 &nbsp; &nbsp; &nbsp;
<button id="refresh-1"
  style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std" {{action 'refresh' false}}>Uppdatera (spinner)</button>
<!--button style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std" {#{action 'saveOrder'}}>Spara ordningen</button-->
<button style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="btn-std" {{action 'showOrder'}}>Visa ordningen</button>
<button id="imageBtn-1"
  style="font-weight:bold;cursor:pointer;padding:0.5em 0;"
  type="submit" class="hide-all" {{action 'imageList'}}>Göm bilderna</button>
</p>
{{yield}}
